VITE_GROQ_API_KEY=
VITE_GOOGLE_API_KEY=
VITE_OPENROUTER_API_KEY=
VITE_CEREBRAS_API_KEY=
VITE_TOGETHER_API_KEY=
VITE_MISTRAL_API_KEY=

VITE_GROQ_MODEL=llama-3.3-70b-versatile
VITE_GEMINI_MODEL=gemini-2.5-flash
VITE_OPENROUTER_MODEL=deepseek/deepseek-r1:free
VITE_CEREBRAS_MODEL=llama-3.3-70b
VITE_TOGETHER_MODEL=meta-llama/Llama-4-Scout-17B-16E-Instruct
VITE_MISTRAL_MODEL=mistral-small-latest

VITE_DEFAULT_ATTACKER=groq
VITE_DEFAULT_DEFENDER=gemini
VITE_DEFAULT_EVALUATOR=gemini
